#edit_logo,#edit_index_about,#edit_about,#edit_contact,#edit_job,#edit_join,#edit_salenetwork{float:left;cursor:pointer;position:relative;}
#edit_nav,#edit_focus,#edit_news_list,#edit_product_list,#edit_video_list,#edit_contact_eidt,#edit_job,#edit_case_list,#edit_foot{cursor:pointer;position:relative;}
	/*.select_ed{background:#FFF;filter:alpha(opacity=30);-moz-opacity:0.5;opacity: 0.5;}*/
.s_edit_menu{width:60px;position:absolute;float:left;z-index:99;background:#6A6A6A;border:1px solid #333}
	.s_edit_menu a{width:60px;line-height:24px;float:left;color:#FFF;text-align:center}
	.s_edit_menu a:hover{text-decoration:none; background:#3A3A3A;}

.top_view{width:100%;height:31px;line-height:31px;background:#F8F8F8;border-bottom:1px solid #EAEAEA}
	.top_view_c{width:960px;margin:0 auto;text-align:left;color:#454545}
		.top_view_c span{margin-right:50px;font-family:"ו"}
		.top_view_c .vmr{ float:right;margin-right:0px;}
			.top_view_c .vmr a{width:65px;height:23px;line-height:23px;text-align:center;float:left;color:#FFF;background:url(../../../www.3135.com/skin/img/btn/btn_ft01.jpg);margin:4px 0 0 5px;text-decoration:none;}
		.top_view_c span img{margin-top:5px; float:left}