@charset "utf-8";
/* CSS Document */

.xikuang h4{ margin:20px; height:45px; line-height:45px;}
.xikuang p{ line-height:200%; color:#A4A4A4; text-indent:1em; padding-left:20px; width:860px}
.xikuang{ margin-top:20px; margin:20px; padding:5px 0px 20px 0px; width:900px; background:#fff; text-align:left}
.dibu{ width:330px; margin:20px; float:left}
.dibu h2{ font-size:16px; color:#3b3b3b; text-align:left; line-height:45px; height:45px;}
table{border:1px solid #e2e2e2; width:350px; height:80px; border:none;}
table tr{ width:150px; height:40px; line-height:40px;}
table td{ text-align:left; height:40px; line-height:40px; color:#787878;}
.dibu2{ width:330px; margin:20px; float:left}
.dibu2 div{ margin:8px 0px; text-align:left}
.dibu2 h2{ font-size:16px; height:45px; line-height:45px; color:#787878;text-align:left;}
.dibu2 input{ width:300px; height:18px; border:#BCBCBC 1px solid;}
.dibu2 input value{ color:#787878; font-size:12px;}
.dibu2 .pai input{ width:140px;}
.dibu2 .pai .neibu{ margin-left:12px;}
.dibu2 .sel select{ width:100px;}
.dibu2 .link{ line-height:35px; line-height:35px;}
.dibu2 .link a{ color:#787878;}
.dibu2 .link a:hover{ color:red}


#scheme{ padding:0 20px; overflow:hidden;}
#scheme .scheme{ width:200px; height:258px; margin:15px 15px 5px 0px; float:left}
#scheme .last{ margin:10px 0px 10px 10px}
#scheme .scheme a{ width:200px; height:258px; background:url(../images/scheme_03.jpg); float:left; color:#757575 }
#scheme .scheme a:hover{ color:#FFF; width:218px; height:258px; float:left; background:url(../images/scheme_06.jpg);}
#scheme .scheme:hover p{ color:#FFF}
#scheme .schemecenter p{ line-height:28px; color:#757575;width:169px;}
#scheme .schemecenter p a{ color:#757575}
#scheme .schemecenter p a:hover{ color:#fff}
#scheme .schemecenter:hover{ color:#FFF;}
#scheme .schemecenter { margin:20px 0px 10px 0px; width:169px; height:175px; overflow:hidden;line-height:35px;}
#scheme .schemecenter1{ }
#scheme .schemecenter1 p{ height:25px; width:160px; line-height:35px; text-align:center; color:#fff; font-family:@����;}
#scheme .schemecenter1  .jiacu{ font-size:18px; font-weight:700}
#scheme .line{ clear:both; margin:0px 10px; width:870px;}


.death{ list-style:none; clear:both; width:950px; overflow:hidden; margin-top:15px;}
.death li{ float:left; background:url(../images/dg_11.jpg) no-repeat; width:299px; height:245px; margin-bottom:15px; position:relative}
/*#case .death .juli{ margin-left:20px; margin-right:20px}*/
.death li  a{ background:url(../images/dg_15.jpg) no-repeat;width:271px; height:219px; float:left; margin-left:12px; margin-top:13px;}
.imghb{-webkit-filter: grayscale(100%); -moz-filter: grayscale(100%); -ms-filter: grayscale(100%); -o-filter: grayscale(100%); filter: grayscale(100%);filter: gray;}
.death li .cspan1{ background:#000;filter:alpha(opacity=80); opacity:0.7; width:299px; height:50px;float:left; margin-left:12px; margin-top:13px; position:absolute; bottom:100px; right:0px; text-align:center; overflow:hidden;}
.death li .cspan1 img{ alpha(opacity=100); opacity:1;}
