@charset "utf-8";
/* CSS Document */

*{padding:0; margin:0; list-style:none; font-size:12px;}
a{color:#555; text-decoration:none;}
a img{ border:none;}

.bg{ width:100%; height:auto; background:#78ccb8;}
.center_960{ width:960px; height:auto; margin:0 auto; padding-bottom:30px;background:#FFF;}
.index_top{ width:960px; height:390px; background:url(../images/index_top.png) no-repeat; margin:0 auto; padding-top:1px; position:relative;}
.logo{ position:absolute; left:40px; top:16px;}
.login{ width:30px; height:20px; font-size:14px; position:absolute; left:660px; top:52px; color:#555;text-decoration:underline;}
.login_out{ width:330px; height:20px; font-size:14px; position:absolute; left:450px; top:52px;}
.login:hover{ font-weight:bold; color:#F69;}
.search{ width:190px; height:28px; position:absolute; left:700px; top:44px;}
.s-bar{ width:120px; height:20px;}
.s-button{ width:58px; height:28px; cursor:pointer; background:url(../images/search-button.png) no-repeat; color:#FFF; border:none;}
.index_nav{ width:605px; height:42px; position:absolute;left:160px;top:100px;padding-left:32px;background:url(../images/index_nav.png) no-repeat; color:#FFF;}
.index_nav ul li{ height:42px; line-height:42px;float:left;}
.index_nav ul li a{_width:90px; display:block; height:42px;padding:0 20px 0 20px;_padding:0px; text-align:center;color:#FFF; font-weight:bold;}
.index_nav ul li a:hover{color:#fdef91; text-decoration:underline;}
.index_left{ width:680px; height:660px; margin-left:0; margin-top:10px; float:left;}
.online{width:248px; height:240px; background:url(../images/index_onlinebg.png) no-repeat; margin-left:16px;_margin-left:3px;_margin-right:0px; margin-right:14px;padding-top:70px; float:left;}
.online_link{ width:194px; height:110px; margin:2px 30px;}
.notice1{ width:402px; height:310px; background:url(../images/index_notice.png) no-repeat; border:none;position:relative;float:left;}
.notice1 ul{margin-top:32px; margin-left:14px;}
.notice1 ul li{ width:380px; height:30px; }
.notice1 ul li span{width:70px; line-height:30px;color:#555; position:absolute; right:4px;}
.notice1 ul li a{ display:block;width:380px;line-height:30px;color:#555; float:left;#line-height:20px;}
.notice1 ul li a:hover{ text-decoration: underline;}
.notice1 p{ width:100px; height:24px; line-height:24px; color:#358a70; font-size:14px; font-weight:bold; margin-left:80px; margin-top:30px;}
.star{width:242px; height:336px; background:url(../images/index_star.png) no-repeat;margin-left:16px;_margin-left:6px; margin-top:14px;margin-right:14px;_margin-right:0px;float:left;}
.star_photobg{width:152px; height:154px; background:url(../images/index_starphotobg.png) no-repeat; margin-top:60px; margin-left:40px; padding-top:12px; padding-left:13px;}
.star_photo{width:138px; height:140px;}
#star_tittle{ display:block; width:242px; height:30px; text-align:center; line-height:30px; color:#b02f11; font-weight:bold; font-size:14px;word-wrap:break-word;word-break:break-all;}
.star p{display:block;width:220px; height:72px; line-height:24px;color:#555; text-indent:2em; margin:0 auto;word-wrap:break-word;word-break:break-all;}
.activity1{ width:402px; height:336px; background:url(../images/index_activity.png) no-repeat; border:none; margin-left:6px;_margin-left:10px;margin-top:20px;position:relative;float:left;}
.activity1 ul{margin-top:16px; margin-left:14px;}
.activity1 ul li{ width:380px; height:30px; }
.activity1 ul li span{width:70px; line-height:30px;color:#555; position:absolute; right:4px;}
.activity1 ul li a{ display:block;width:380px;line-height:30px;color:#555; float:left;}
.activity1 ul li a:hover{ text-decoration: underline;}
.activity1 p{ width:100px; height:24px; line-height:24px; color:#c97e15; font-size:14px; font-weight:bold; margin-left:100px; margin-top:30px;}
.index_right{ width:256px; height:660px; margin-left:10px; margin-top:10px; background:url(../images/index_right.png) no-repeat;float: left;}
.family{width:230px; height:200px; background:url(../images/index_familypicbg.png); margin-left:12px; margin-top:70px;}
.family_pic{width:206px; height:142px; margin-top:10px; margin-left:12px;}
.class_tittle{ display:block;width:230px; height:30px;margin-left:14px; margin-top:14px;text-align:left;line-height:30px; color:#d88626; font-size:14px; font-weight:bold; border-bottom:solid 2px #de9136; text-indent:1em;}
.class_text{ display:block;width:230px; height:140px;margin-left:14px; padding-top:4px;color:#555; text-indent:2em; line-height:20px;#line-height:20px;word-wrap:break-word;wprd-break-all;}
.class_picsbg{width:188px; height:130px; margin-left:0; margin-top:14px;background:url(../images/index_classpicbg.png) no-repeat; float:left;}
.class_pics{width:150px; height:102px; margin-left:18px; margin-top:10px;float:left;}
.arrowl{ display:block;width:26px; height:30px; margin-left:8px;_margin-left:4px; margin-top:60px; float:left;}
.arrowr{ display:block;width:26px; height:30px; margin-left:0; margin-top:60px;}
.clear{ clear:both;}
.footer{width:960px; height:40px; margin:20px auto; padding-bottom:20px;text-align:center; color:#FFF;}

.sec_left{ width:210px; height:auto; float:left;}
.sec_name{ width:188px; height:90px; background:url(../images/sec_name.png) no-repeat;margin-left:20px; margin-top:50px; font-size:30px; font-weight:bold; line-height:50px; text-align:right; color:#F69; }
.sec_nav{width:182px; height:342px; margin-left:0; margin-top:15px;}
.sec_navleft{ display:block; width:12px; height:456px; margin:0 0; float:left;}
.sec_nav ul li{width:162px; height:55px; margin:0 0;  border:solid 1px #CCC;}
.sec_nav ul li a{ display:block;width:158px; height:55px; text-align:center; line-height:55px; font-size:14px; font-weight:bold;color:#555;}
.sec_nav ul li a:hover{ color:#47ba9f; border-right:solid 4px #47ba9f ;}
.sec_leftimg{ width:196px; height:190px; display:block; margin-left:10px; margin-top:110px; }
.sec_right{ width:734px; height:auto; margin-left:16px; float:left;}
.sec_line{width:734px; height:6px; margin:0 0;}
.sec_banner{ width:712px; height:205px; margin-left:8px; margin-top:20px;}
.sec_content{width:706px; height:auto; margin-left:8px; margin-top:20px; border:solid 1px #CCC;}
.sec_location{ width:660px; height:32px; margin:10px auto;text-align:left;line-height:32px; color:#d88626; font-size:14px; font-weight:bold; border-bottom:solid 2px #de9136;}
.sec_location a{color:#d88626; font-size:14px; font-weight:bold;}
.sec_locationimg{ display:block; width:8px; height:20px; margin:6px 6px; float:left;}
.sec_newslist{width:660px; height:auto; margin:10px auto; position:relative;}
.sec_newslist ul li{width:660px; height:32px; line-height:32px; border-bottom:dashed 1px #CCC;}
.sec_newslist ul li span{width:60px; height:32px;position: absolute; right:0; line-height:32px; color:#555;}
.sec_newslist ul li a{width:660px; height:32px; color:#555;}
.sec_newslist ul li a:hover{ text-decoration:underline; color:#de9136;}
.pagination_mby{ width:480px; height:26px; margin:0px auto;padding:30px;}
.pagination_mby ul li{ width:26px; height:26px;float:left;text-align:center; line-height:26px; margin-left:10px;}
.pagination_mby ul li a{ display:block; width:24px; height:26px; color:#555; background:#FFF; border:solid 1px #CCC; margin-left:10px; }
.pagination_mby ul li a:hover{color:#FFF; background:#de9136; border:none;}
.pagination_mby .selects{color:#FFF; background:#de9136; border:none;}
#first{ width:40px; height:26px;  margin-left:10px;}
#first a{ display:block;width:40px; height:26px; background:#de9136; color:#FFF; line-height:26px; text-align:center; margin-left:10px; float:left;}
#first a:hover{font-weight:bold;}
#next{ width:60px; height:26px;margin-left:10px;}
#next a{ display:block;width:60px; height:26px; background:#de9136; color:#FFF; line-height:26px; text-align:center; margin-left:10px; float:left;}
#next a:hover{font-weight:bold;}

.sec_classpics{ width:660px; height:auto; margin:0 auto;}
.sec_classpic{ width:284px; height:236px; margin-left:30px; margin-top:20px; float:left;}
.sec_classpic img{ width:284px; height:212px;}
.sec_classpic p{ display:block;width:284px; height:24px; color:#555; text-align:center; line-height:24px;}

.sec_moretittle{width:660px; text-align:center; line-height:60px; font-size:20px; font-weight:bold; color:#de9136; border-bottom:dashed 1px #CCC;word-wrap:break-word;word-break:break-all;}
.sec_moreauthor{width:660px; height:28px; text-align:center; line-height:28px; font-size:12px; font-weight:bold; color:#555;}
.sec_moretext{width:640px; height:auto; margin:10px 10px;}
.sec_moretext p{ font-size:12px; line-height:24px;color:#555 word-wrap:break-word;word-break:break-all;}
.sec_moreimg{ display:block;margin:20px auto; border:none;}
.sec_classintro{ width:660px; height:auto; margin:0 auto; padding-bottom:30px;}
.sec_classintro p{ font-size:12px; line-height:24px;color:#555; text-indent:2em; }


.reply{ width:640px; height:auto; background:#F7E2C4; padding:10px 10px; margin-top:20px; margin-bottom:10px;}
.reply-tittle{ width:640px; height:24px; line-height:24px; color:#F63; font-weight:bold; text-indent:1em; border-bottom:dashed 1px #F96;}
.reply-text{ width:630px; height:auto; line-height:20px; font-size:12px; padding:10px 10px;color:#555;}
.mboard{ width:660px; height:399px; background:url(../images/sub-mb.jpg) no-repeat; margin-top:18px; margin-bottom:30px; position:relative;}
.mboard table{ width:600px; position:absolute;left:30px;top:24px;}
.mboard table tr td{ padding-top:5px; padding-bottom:5px;position:relative;}
.mb-name{ display:block; color:#F63; font-size:12px; font-weight:bold;top:0; right:0; position:absolute;}
.mb-tittle{ width:320px; height:22px; border:solid 1px #CCC;}
.mb-content{ width:530px; height:244px; border:solid 1px #CCC;}
.button-yes{ width:64px; height:34px; background:url(../images/yes.png); margin-left:230px; margin-top:10px; margin-bottom:10px; border:none;}
.button-yes:hover{ background:url(../images/yes-hover.png);}


.sec-login{ width:248px; height:200px; margin:40px auto;}
.username{ width:226px; height:25px; padding-top:7px; padding-left:20px; margin-bottom:10px; background:url(../images/username.png) top left no-repeat; border:solid 1px #CCC;}
.password{ width:226px; height:25px; padding-top:7px;padding-left:20px; background:url(../images/password.png) top left no-repeat; border:solid 1px #CCC;}
.button-login{ width:246px; height:40px; cursor:pointer; margin-top:15px; background:url(../images/log-button.png); border:none;}
.button-login:hover{background:url(../images/log-button-hover.png);}

