div#MainPromotionBanner{
	width:270px; 
	height:200px;
}
#MainPromotionBanner #SlidePlayer {
	margin: 0 auto;
	margin-top:0px;
}
#MainPromotionBanner .Slides{
	padding: 0;
	margin: 0;
	list-style: none;
	height: 200px;
	overflow: hidden;
}
#MainPromotionBanner .Slides li {
	float: left;
	width: 270px;
	height: 200px;
}

#MainPromotionBanner .Slides img{
	border:0;
	display: block;
	width:264px;
	height:160px;
}

#MainPromotionBanner .SlideTriggers{
	height:12px; position:absolute; right:10px; bottom:10px;
}
#MainPromotionBanner .SlideTriggers li{
	width:12px; height:12px; line-height:12px;background:#CCC; text-align:center; margin-right:6px; float:left;cursor:pointer;
}
#MainPromotionBanner .SlideTriggers li.Current{ 
	background:#ffd200; text-decoration:none;
}
